
li:first-child {
  // applies to the first list item of every list
  color: purple;
}
html{
  box-sizing: border-box;
}
div.container{

  max-width: 750px;
  margin: 10px auto;
}
.container p{
  color: orange;
}

.header h1 + h6{display: inline;
  font-family: cursive;
}


div.navigation{
  width: 100vw;
  border: solid green;
  background-color: black;
  position: fixed;
  text-align: center;
  top:0;
  right:0;


}
.navigation > ul >li{
display: inline;
margin: 5px;
position: relative;
}
.navigation > ul > li:hover {
  background-color: chocolate;
}
.navigation .dropdown {
  position: absolute;
  top: 20;
  right: 0;
  display: none;
  padding: 25px;

}
.navigation a:hover + .dropdown ,
.navigation .dropdown:hover {
  display: block;
}



div.header{
  margin-top: 50px;
border: solid grey;
background-color: blue;
}

div.content {
  background-color: lightgrey;
  border: solid red;
  padding: 50px;
  margin: 50px;
}
  body{
    margin: 0;

    background-color: chartreuse;
}
#funky-list {
background-color: tomato;
}

#funky-list > li:first-child {
  color: firebrick;
}
#funky-list > li:last-child{
  background-color: green;
}
#funky-list > li:nth-child(2) {
  background-color: red;
}

#funky-list > li:nth-child(3n) {
   background-color: cyan;
}
 #funky-list > li:nth-child(2n+1){
    background-color: violet;
 }


  #funky-list  > li:hover {
     background-color:  yellow;
  }


.xtra-red {
   color :red;
 }
 h1{
   color : orange
 }
h2 {
  color: green;
}
ul{
  background-color:cornflowerblue;
}

#subheader{
font-style: oblique;
color: brown;
font-weight: 500;
}


input[type='text']{
  background-color: red;
}
